@model ForgotPasswordModel

<div class="row justify-content-center">
    <div class="col-md-4">
        <h5>Informe o seu e-mail</h5><hr>
        <form asp-action="ForgotPassword" method="post" class="form-horizontal">
        <div class="form-group">
            <h6>Email</h6>
        </div>
        <div class="form-group"> 
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
		  <div class="text-center">
            <input type="submit" value="Enviar" class="btn btn-dark">
		  </div>
        </div>
            <div asp-validation-summary="All"></div>
        <h6 style="color: #176303;">@ViewData["SuccessMessage"]</h6>
        </form>
    </div>
</div>