@{
    ViewData["Title"] = "Privacy";
}

<h1>Políticas de privacidade da SystemPass.</h1><br>
<div>
    <p>A SystemPass preza pela privacidade dos seus usuários e se compromete em proteger suas informações pessoais. Esta Política de Privacidade descreve como coletamos, usamos e protegemos suas informações quando você usa nosso site.</p>

    <h2>Informações Coletadas</h2>
    <p><strong>Dados Pessoais:</strong> Quando você cria uma conta ou se inscreve para usar nossos serviços, podemos solicitar informações como seu nome completo, endereço de e-mail, número de telefone e outras informações relevantes para fornecer os serviços solicitados.</p>
    <p><strong>Dados de Uso:</strong> Quando você usa nosso site, registra-se em nossos serviços ou interage com nós através de outros meios, podemos coletar dados sobre sua atividade, incluindo detalhes sobre como você usa nosso site e quais recursos você acessa.</p>
    <p><strong>Cookies e Tecnologias Semelhantes:</strong> Usamos cookies e tecnologias semelhantes para rastrear o uso do nosso site, melhorar a experiência do usuário e personalizar o conteúdo que vemos. Essas ferramentas podem armazenar informações sobre seu dispositivo, navegação e preferências.</p>

    <h2>Como Usamos Seus Dados</h2>
    <p>Coletamos e usamos suas informações para:</p>
    <ul>
        <li>Fornecer, manter e melhorar nossos serviços;</li>
        <li>Comunicar-nos com você sobre atualizações, novos produtos ou serviços;</li>
        <li>Personalizar sua experiência no nosso site;</li>
        <li>Responder às suas consultas e solicitações;</li>
    </ul>
    <p>Nunca vendemos suas informações pessoais para terceiros.</p>

    <h2>Segurança</h2>
    <p>Tomamos medidas para proteger suas informações contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, nenhum método de transmissão ou armazenamento é 100% seguro, então não podemos garantir a segurança absoluta.</p>

    <h2>Alterações na Política de Privacidade</h2>
    <p>Pode-mos atualizar esta Política de Privacidade periodicamente. Recomendamos revisá-la regularmente para estar informado sobre quaisquer mudanças.</p>

    <h2>Contato</h2>
    <p>Se tiver alguma dúvida sobre nossa Política de Privacidade ou práticas de privacidade, entre em contato conosco pelo email <a href="mailto:info@systempass.com">info@systempass.com</a>.</p>
</div>